body {
    text-align: center;
    background: whitesmoke;
    color: darkgreen;
    padding: 20px 0;
}

button {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 4px;
    margin: 10px auto;
    max-width: 200px;
    width: 100%;
    border: 1px solid black;
    cursor: pointer;
}


#btn {
    background: rgb(83, 223, 83);
}

#clear-btn {
    background: lightcoral;

}