body {
    padding: 40px;
    background: whitesmoke;
    text-align: center;
}

#apple-shelf , 
#orange-shelf {
    max-width: 200px;
    border-radius: 10px;
    padding: 10px 0;
    margin: 10px auto;
}


#apple-shelf {
    background: lightcoral;
    
}

#orange-shelf {
    background: lightsalmon;

}